* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #3d5056;
}
main{
    width: 960px;
    height: auto;
    margin: 0px auto;
}
header{
    width: 960px;
    height: 100px;
}
header img {
    margin-top: 15px;
    margin-left: 50px;
}